
<h3>Welcome to the "ZOMG! CAT HEALTH!" Admin Homepage</h3>

<%=  link_to("Create a new Cat!", new_admin_cat_path) %>

<div class="cats">
  <% @cats.each do |cat| %>
    <%= link_to(image_tag(cat.url), admin_cat_path(cat)) %>
    <h1><%= cat.description %></h1>
  <% end %>
</div>
