<h1>"ZOMG! CAT HEALTH!"</h1>

<%= image_tag @cats.first.url %>
<%= button_to "ZOMG! So Cute!", zomg_button(@cats.first) %>
<%= image_tag @cats.last.url %>
<%= button_to "Amazing! So Beautiful!", amazing_button(@cats.last) %>
