/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding: 4%;
  font-family: "Helvetica";
}

h1 {
  color: gray;
}

.login {
  width: 50%;
  text-align: center;
  margin: auto;
}

.logout {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5em;
  margin-right: 5em;
}

input[type="submit"] {
  margin-top: 3%;
}

.voting {
  text-align: center;
}

.vote-cat {
  padding: 5%;
  display: inline-block;
  text-align: center;
}

.img-vote {
  padding-bottom: 4%;
}

.vote {
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  text-align: center;
}

.cat {
  padding-top: 3%;
}

.description {
  width: 30%;
  text-align: center;
}

.top {
  width: 25%;
  display: block;
  text-align: center;
  margin: 2em auto 0 auto;
}

.sort-by-links {
  margin-left: auto;
  margin-right: auto;
  width: 40em;
  text-align: center;
}

.new-cat {
  text-align: center;
}

.greeting {
  text-align: center;
  padding: 0;
}